<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Grape Leaf Disease Identification using Machine Learning Techniques</title>
<meta name="keywords" content="Specific Template, HTML CSS, free website template" />
<meta name="description" content="Specific Template is a free website template provided by TemplateMo.com" />
<link rel="stylesheet" href="{{ url_for('static', filename='templatemo_style.css') }}">
</head>
<body>
<div id="templatemo_header_wrapper">
	<div id="templatemo_header">

    	<div id="title">
		Grape Leaf Disease Identification using Machine Learning Techniques</center>
            
        </div>
        

    </div> <!-- end of header -->
    
</div> <!-- end of header wrapper -->

<div id="templatemo_menu_wrapper">

    <div id="templatemo_menu">

         <ul>
      <li class="nlink"><a href="index">Home</a></li>
	  <li class="nlink"><a href="Upload">Upload&nbsp;Grape&nbsp;Image</a></li>
     
   </ul>
  </div>
 <div id="templatemo_content_wrapper">

	<div id="templatemo_content">
    	
        <div class="section_w620 fl margin_right_50">
        
            <div class="header_01">
           	</div>
			<h3><p align="justify">
           <p><center><img src={{ url_for('static', filename='tra.jpg') }} alt="" width="360" height="200" /></center></p>

          <font size="2" color="black" style="Times New Roman">System Abstract</font></p>
          <p><font size="2" color="black">Grape Leaf Disease Identification using Machine Learning Techniques</font></p>
          </div>
        
      </div>
     
       
       
    </div>
    
  </div>

</body>
</html>
